/*********************************
    Global Styles
**********************************/

// Global Font
$rootFontSize: 11px;
// Color Palette
$grey: #28282F;
$darkGrey: #17171C;
$darkerGrey: #0b0c0e;
$green: #42B3B4;
$whitish: #ECEDF8;

/**********************************
    General Styles
**********************************/

html{
    font-size: $rootFontSize;
}

body{
    font-size: 1rem;
}

$noPadnoMar: a, p, h1, h2, h3, img;

@each $item in $noPadnoMar {
    #{$item} {
        padding: 0px;
        margin: 0px;
    }
}

a{
    color: inherit;
    text-decoration: none;
}

.to-left{
    float: left;
}

.to-right{
    float: right;
}

@mixin arrow-right($width, $color) {
    display: inline-block;
    width: 0;
    height: 0;

    border-top: $width solid transparent;
    border-bottom: $width solid transparent;

    border-left: $width solid $color;
}

@mixin arrow-down($width, $color) {
    display: inline-block;
    width: 0;
    height: 0;

    border-left: $width solid transparent;
    border-right: $width solid transparent;

    border-top: $width solid $color;
}

button{
    display: inline-block;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;

    color: white;
    background: $green;

    padding: 10px 20px;

    text-transform: uppercase;
    font-weight: bold;

    &.btn-black{
        background: $grey;
    }

    &:disabled{
        background: #d43f3a;
    }
}

/**********************************
    Layout
**********************************/

// table-like layout
html{
    display: table;
    width: 100%;
    height: 100%;
    body{
        display: table-row;
        width: 100%;
        height: 100%;
        > *{
            display: table-cell;
            height: 100%;

            vertical-align: top;
        }
    }
}

// header
$headerHeight: 60px;
header{
    height: $headerHeight;
    line-height: $headerHeight;
    img{
        height: $headerHeight;
    }
}

/*
    Sidebar Navigation
*/

$sidebarWidth: 240px;
$gutterWidth: 20px;
nav#sidebar-nav{
    header{
        width: $sidebarWidth;
    }

    #sidebar-container{
        ul{
            list-style: none;
            margin: 0px;
            padding: 0px;
            li{
                position: relative;

                display: inline-block;
                width: 100%;
                height: $headerHeight;
                line-height: $headerHeight;

                padding: 0 $gutterWidth;
                box-sizing: border-box;
            }
            > li.expanded{
                height: auto;
            }
        }
    }
}

/*
    Content
*/

$gutterWidth: 45px;
div#content{
    width: 100%;
    background: $whitish;

    .apply-gutter{
        padding: 0 $gutterWidth;
    }
}

.double-row{
    display: table;
    width: 100%;

    border-style: solid;
    border-color: #e0e0e0;
    border-width: 2px 0;

    .row{
        display: table-row;
        width: 100%;

        > * {
            display: table-cell;
            vertical-align: top;

            box-sizing: border-box;
        }

        > :nth-child(1){
            width: 400px;

            border-style: solid;
            border-color: #e0e0e0;
            border-width: 0 2px 0 0;
        }

        > :nth-child(2){
            width: 100%;
        }

        .content-cell{
            padding: 2rem $gutterWidth;
        }
    }
}

/**********************************
    Styles
**********************************/

/*
    Sidebar Navigation
*/

nav#sidebar-nav{
    background: $darkGrey;
    header{
        background: $grey;
    }
}

/*
    Content
*/

div#content{
    header{
        color: white;
        background: $green;

        #site-nav{
            position: relative;
            left: -$gutterWidth;

            padding-left: $gutterWidth - 20;
            padding-right: $gutterWidth - 20;
            background: #4cbebe;

            a{
                display: inline-block;
                float: left;

                font-weight: bold;

                padding: 0 20px;
            }
        }
    }
}

/*
    Sidebar Navigation
*/

$sidebarColor: #717171;
nav#sidebar-nav{
    header{
        width: $sidebarWidth;
    }

    #sidebar-container{
        ul{
            font-weight: bold;
            text-transform: uppercase;
            li{
                color: $sidebarColor;
                border-style: solid;
                border-color: $darkerGrey;
                border-width: 0 0 1px 0;
                span.arrow-right{
                    @include arrow-right(5px, $sidebarColor);
                }
            }
            li.expanded{
                background: $darkerGrey;
                color: white;
                span.arrow-down{
                    @include arrow-down(5px, white);
                }
                > li{
                    color: white;
                    border: none;
                }
            }
            li:hover{
                color: white;
                span.arrow-right{
                    @include arrow-right(5px, white);
                }
            }
        }
    }
}

/*
    Page-title
*/

#page-title{
    line-height: 8rem;
    background: $grey;

    h2{
        color: white;
        span{
            font-weight: lighter;
            font-size: 0.86em;
            margin: 0 10px;
        }
    }
}

/****************************************************************
    From login page
****************************************************************/

/*
    app banner
*/

#app-banner{
    position: relative;
    background-image: url('/img/hostel.png');
    background-size: cover;
    background-position: center;

    color: white;
    font-size: 2rem;
    font-weight: 100;

    &:after{
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;

        display: block;
        width: 100%;
        height: 100%;

        background: rgba(0, 0, 0, 0.7);
    }

    h1{
        position: relative;
        z-index: 1;
        padding: $gutterWidth 0;

        span{
            display: block;
            font-weight: lighter;
            font-size: 1.5rem;
        }
    }
}

/*
    form
*/

.cell-title{
    background: white;
    line-height: 6rem;

    border-style: solid;
    border-color: #e0e0e0;
    border-width: 0 0 2px 0;
}

.form{
    float: left;

    label{
        display: block;
        font-weight: bold;

        line-height: 3rem;
    }

    input, textarea, select{
        max-width: 100%;
        width: 100%;
        font-size: 1.2rem;
        line-height: 2rem;
        height: 2rem;

        padding: 0 10px;
        box-sizing: border-box;
    }

    .btn-group{
        padding: 2rem 0;
    }
}

/*
    announcements
*/

.announcement-item{
    border-style: solid;
    border-color: #e0e0e0;
    border-width: 0 0 2px 0;
    padding-bottom: 1rem;
}

/****************************************************************
    From Application page
****************************************************************/

#application-form-cell{
    width: 100%;
    border: none;

    form{
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;

        -webkit-column-gap: $gutterWidth*2; /* Chrome, Safari, Opera */
        -moz-column-gap: $gutterWidth*2; /* Firefox */
        column-gap: $gutterWidth*2;

        -webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
        -moz-column-rule-style: solid; /* Firefox */
        column-rule-style: solid;

        -webkit-column-rule-width: 2px; /* Chrome, Safari, Opera */
        -moz-column-rule-width: 2px; /* Firefox */
        column-rule-width: 2px;

        -webkit-column-rule-color: #e0e0e0; /* Chrome, Safari, Opera */
        -moz-column-rule-color: #e0e0e0; /* Firefox */
        column-rule-color: #e0e0e0;

        > div{
            display: inline-block;
            width: 100%;

            input[type="checkbox"]{
                width: auto;
            }
        }
    }
}