<div>
    <div id="page-title" class="apply-gutter">
        <h2>Home <span><i>- Homepage</span></i></h1>
    </div>
    <div id="app-banner" class="apply-gutter">
        <h1>Decker<span>Hostel Management System</span></h1>
    </div>
    <div class="double-row">
        <div class="row">
            <!-- signin form box -->
            <div class="form">
                <h2 class="cell-title apply-gutter">Login</h2>
                <form class="content-cell">
                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" placeholder="User Name" ng-model="user.name">
                        <label>Password</label>
                        <input type="password" placeholder="Password" ng-model="user.name">
                        <div class="btn-group">
                            <button type="submit" class="btn" ng-click="user.checkUserName()">Sign in</button>
                            <button type="submit" class="btn btn-black">Apply</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- announcement box -->
            <div>
                <h2 class="cell-title apply-gutter">Announcements</h2>
                <div class="content-cell">
                    <div class="announcement-item">
                        <h4 class="title">sadfsadfsfd</h4>
                        <p class="content">sdfasdfasdf</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
